 .para {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    margin-left: 6rem;
    animation-duration: 3s;
    animation-name: slidein;
    
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  @keyframes slidein{
    from{transform: translate(100%);}
    to{
        transform: translate(0%);
    }
  }
  